body {
    color: white;
    height: 100vh;
    overflow: hidden;
}

#device-requirements {
    display: none;
}

#refresh {
    border-style: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
}

#refresh-button {
    display: none;
}

#refresh-button.open {
    display: flex;
    justify-content: center;
}

#envelope-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#envelope {
    position: relative;
    min-width: 60%;
    max-width: 100%;
    height: 500px;
    background-color: rgb(233, 218, 199);
    margin: 30px 30px 25px 30px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
    transition: transform 1s;
}

#flap {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 29vw solid transparent; /* Adjust to control the width of the triangle */
    border-right: 29vw solid transparent; /* Same as border-left */
    border-top: 250px solid antiquewhite; /* Adjust the height of the triangle */
    transform-origin: center top;
    transform: translateX(-50%);
    transition: transform 1s; /* Add a transition for smooth animation */
    cursor: pointer;
}

#flap.open {
    transform: translate(-50%, 0) rotateX(180deg); /*Rotate the flap to open*/
    transform-origin: center top;
    border-top: 230px solid antiquewhite;
}

#open-envelope {
    min-width: 65%;
    border-style: none;
    background-color: transparent;

}

#card {
display: none;
}

#card.open {
    height: 90%;
    width: 60%; 
    margin-left: 2.5in;
    display: flex;
    justify-content: center;
    scale: 1.7;
    background-color: whitesmoke; /*Changes color of card*/
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
}

#left-side {
    display: flex;
    border-right-style: solid;
    border-right-color: rgba(174, 172, 172, 0.128);
    max-width: 50%;
    max-height: 100%;
}

#right-side {
    display: flex;
    max-width: 50%;
    padding: 20px;
}


#message {
    display: none;
    max-height: 100%;
    max-width: 100%;
    padding: 5px;
    /* border-style: solid; */
}

#personal-message {
    font-size: large;
    margin-left: 5px;
    margin-right: 5px;
}

#heading {
    font-weight: bolder;
    font-size: xx-large;
    text-transform: uppercase;
    margin-top: 10px;
}

#signature {
    display: flex;
    float: right;
    margin-top: 70px;
    margin-left: 5px;
}

#images {
    display: none;
    width: 100%;
    /* border-style: solid; */
}

#images img {
    max-width: 100%;
    max-height: 200px;
}
#candles {
    margin-top: 49px;
    width: 100%;
}

#confetti {
    width: 100%;
}

@media screen and (max-width: 1100px) {
    body {
        background-color: black;
        color: white;
        max-height: 100%;
        overflow: hidden;
    }

    #envelope {
        display: none;
    }

    #device-requirements {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 50px;
        color: white;
        background-color: black;
        font-weight: 700;
        height: 100vh;
        font-size: 30px;
    }
    #refresh-button.open {
        display: none;
    }

}



